/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vh;
  height: 100vh;
  background-image: url("/header-bg.png");
}
